---
layout: layouts/base.njk
section: error
---
<div class="page-container">
  <h1>Не удалось отправить письмо.</h1>
  <p>Скорее всего, вы не подтвердили проверку reCAPTCHA.</p>
  <p><a href="//paparrot.vercel.app/contact/">Попробуйте ещё раз.</a></p>
</div>
