---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "“{{ tag }}”"
  metaDescription: "Все посты с тегом “{{ tag }}”"
---
<div class="page-container">
  <div class="tag-list tag-list--no-wrap">
    <h3 class="tag-list__title">Все посты с тегом: "{{ tag | capitalize }}"</h3>
    <a class="btn btn--danger" href="/blog">Удалить тег</a>
  </div>

  {% set postslist = collections[tag] %}
  {% set show_postslist_tags = true %}
  {% include "components/postslist.njk" %}

  <nav>
    <a href="{{ '/blog/' | url }}">← Все статьи</a>
  </nav>
</div>
