:root {
  /* Brand Colors */
  --color-primary: #1160ef;
  --color-secondary: #5e35b1;

  /* Background Colors */
  --color-bg: #fafafa;
  --color-bg-secondary: #c7c7c7;
  --color-bg-accent: #efefef;

  /* Text and Border Colors */
  --color-text: #000a12;
  --color-text-alt: #ffffff;
  --color-border: rgba(0, 0, 0, 0.06);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 850px;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
}
