---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "{{taxonomies.tags.title | safe }} “{{ tag }}”"
  metaDescription: "{{ taxonomies.tags.metaDescription | safe}} “{{ tag }}”"
---
<div class="page-container">
  <div class="tag-list tag-list--no-wrap">
    <h3 class="tag-list__title">{{ taxonomies.tags.title | safe }} "{{ tag | capitalize }}"</h3>
    <a class="btn btn--danger" href="/blog">{{ taxonomies.tags.removeTagFilter | safe }}</a>
  </div>

  {% set postslist = collections[tag] %}
  {% set show_postslist_tags = true %}
  {% include "components/postslist.njk" %}

  <nav>
    <a href="{{ '/blog/' | url }}">{{ taxonomies.tags.backToAll | safe }}</a>
  </nav>
</div>
