---
new_page_extension: md
auto_deploy: false
admin_path: "/papa"
webhook_url: 
sections:
- type: document
  path: _data/home.json
  label: Home page
  match: "**/*"
upload_dir: "./static/img"
public_path: "./static/img"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
