<footer class="site-footer">
  {% include "components/socials.njk" %}
  <small >
    <span class="footer__copy">
      Build with <a href="https://11ty.dev" rel="noreferrer noopener" target="_blank">eleventy</a>
    </span>
    <span class="footer__copy">
     &copy; <a href="https://github.com/paparrot/" rel="noreferrer noopener" target="_blank">Paparrot</a> 2021
    </span>
  </small>
</footer>
